{% extends "layout.html" %}

{% from 'macros/macros_buscador.html' import input_name, select_type, summit_clean_button %}
{% from 'macros/macros_tabla.html' import heading_row, vacunattion_row %}
{% from 'macros/macros_modals.html' import set_modals_vacunattiones %}
{% from 'macros/macros_otros.html' import button_go_home, notifications %}

{% block title %}Vacunaciones{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{notifications()}}

    <div class="">
        <div class="container text-center mt-4">
            <h1 class="display-4">Vacunaciones: <b> ({{vacuna}}) </b></h1>
        </div>
        <div class="container">
            <div class="mb-4">
                <form action="{{ url_for('vacunattiones.vacunattion_index') }}" method="GET">
                    <div class="form-group row">
                        
                        <label for="stateSelect" class="col-sm-2 col-form-label">Buscar Vacunaciones:</label> 
                        <div class="col-sm-3">
                            <select class="form-select bg-white" id="stateSelect" name="enfermedad_id">
                              {% for enfermedad in enfermedades %}
   
                           
                                <option value='{{enfermedad.id }}'> {{ enfermedad.nombre }}</option>

                               {% endfor %}
                            </select>
                        </div>
                        {{ summit_clean_button('vacunattiones.vacunattion_index') }} 
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-dark">
                    <thead>
                    {{ heading_row(['DNI Paciente', 'Vacuna', 'Fecha Vacunacion','Opciones']) }}
                    </thead>
                    <tbody class="table table-light">
                        {{ vacunattion_row(vacunattiones) }} 

                    </tbody>
                </table>
            </div>
            <h1>
            {% if user_has_permission (session,"show_stock") %}    
        
            
            <div class="botones botones-center">
                
            
                    Dosis Vencidas: {{ dosisVencidas }},
        
        
                {% if tot == None %}
                Stock PROVINCIAL: 0
                {%else %}
                Stock Provincial: {{ tot }}

            
                {%endif %}

               
                 
            {% endif %}


                {{ button_go_home() }}
                {% if user_has_permission(session, 'vacunattion_new') %}
                    <a class="btn btn-success" id="addVacunattion" name="add_vacunattion" href="{{ url_for('vacunattiones.vacunattion_new') }}"
                       data-toggle="tooltip" data-placement="top" title="Realizar Nueva Vacunacion"> 
                        + Registrar Vacunacion</a>
                {% endif%}

            </h1>
            <br>
            </div> 

        </div>
    </div>

{% endblock %}