{% extends "layout.html" %}

{% from 'macros/macros_buscador.html' import input_name, select_type, summit_clean_button %}
{% from 'macros/macros_tabla.html' import heading_row, distributtion_row %}
{% from 'macros/macros_modals.html' import set_modals_vaccines %}
{% from 'macros/macros_otros.html' import button_go_home, notifications %}

{% block title %}Vacunas{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{notifications()}}

    <div class="">
        <div class="container text-center mt-4">
            <h1 class="display-4">Distribuciones de Vacunas</h1>
        </div>
        <div class="container">
            <div class="mb-4">
                <form action="{{ url_for('vaccines.vaccine_index') }}" method="GET">
                    <div class="form-group row">

                    </div>
                    <div class="form-group row">
                        
                       
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-dark">
                    <thead>
                    {{ heading_row(['Vacuna', 'Cantidad', 'Provincia']) }}
                    </thead>
                    <tbody class="table table-light">
                        {{ distributtion_row(distributtiones) }} 

                    </tbody>
                </table>
            </div>
            <h1>
            <div class="botones botones-der">
                {{ button_go_home() }}
                {% if user_has_permission(session, 'vaccine_new') %}
                    <a class="btn btn-success" id="addDistributtion" name="add_distributtion" href="{{ url_for('distributtiones.distributtion_new') }}"
                       data-toggle="tooltip" data-placement="top" title="Realizar Nueva Distribucion"> <!--modificar los permisis vaccine_new-->
                        + Añadir Distribucion</a>
                {% endif%}

            </h1>
            <br>
            </div> 

        </div>
    </div>

{% endblock %}