{% extends "layout.html" %}
{% from 'macros/macros_otros.html' import notifications %}

{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
 
{{notifications()}}


<div class="">
    <div class="container text-center">
      <h1 class="display-4">Modulo de Compras</h1>
      <p>{{message}}</p>
    </div>

    <form method="POST" action="{{ url_for('shoppings.shopping_save') if mode == 'create' else url_for('shoppings.shopping_update') }}"
    id="form-new-point">
    <input type="hidden" id="shopping_id" name="id" value="{{shopping.id}}"> 

    <div class="container form">
      <!-- <div class="well"> -->

      <div class="form-group row">
        <label for="stateSelect" class="col-sm-2 col-form-label text-black">Vacuna:</label>
        <div class="col-sm-3">
          <select class="form-select w-100 bg-light" id="stateSelect" name="vacuna_id">
            {% for vaccine in vaccines %}
            {% if (mode == "edit" and vaccine.vacuna_id == vaccine.id) %}
            <option value='{{vaccine.id}}' selected> {{ vaccine.nombre }} </option>
            {% else %}
            <option value='{{vaccine.id}}'> {{ vaccine.nombre }} </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>


        <label for="stateSelect" class="col-sm-2 col-form-label text-black">Lote:</label>
        <div class="col-sm-3">
          <select class="form-select w-100 bg-light" id="stateSelect" name="lote_id"> <!--ver si es id o lote_id-->
            {% for lote in lotes %}
            {% if (mode == "edit" and lote.id == lote_id) %}
            <option value='{{lote.id}}' selected> {{ lote.nombre_lote }} </option>
            {% else %}
            <option value='{{lote.id}}'> {{ lote.nombre_lote }} </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>

      </div>

      <div class="form-group row">
        <label for="laboratorio" class="col-sm-2 col-form-label text-black">Laboratorio Desarrollador:</label>
        <div class="col-sm-3">
          <select class="form-select w-100 bg-light" id="stateSelect" name="desarrollador_id"> <!--ver si es id o lote_id-->
            {% for developer in developers %}
            {% if (mode == "edit" and developer.id == desarrollador_id) %}
            <option value='{{developer.id}}' selected> {{ developer.nombre_desarrollador }} </option>
            {% else %}
            <option value='{{developer.id}}'> {{ developer.nombre_desarrollador }} </option>
            {% endif %}
            {% endfor %}
          </select>
        </div>

        <label for="cantidad" class="col-sm-2 col-form-label text-black">Cantidad:</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="cantidad" name="cantidad_vacunas"
            value="{{ shopping.cantidad_vacunas }}" placeholder="Ej: 200000" required> 
        </div>

      </div>
      <hr>
        <!-- </div> -->
        <div class="botones botones-center">
          <a class="btn btn-danger" href="/compras/buy_index">Cancelar</a>
          {% if mode == 'create' %}
          <button type="reset" class="btn btn-warning" mode="create"> Limpiar campos </button>
          {% endif %}
          <button type="submit" class="btn btn-primary">Comprar</button>



        </div>
      </div>
  </form>
</div>


{% endblock%}

  





