{% extends "layout.html" %}

{% from 'macros/macros_buscador.html' import input_name, select_criteria, select_order, summit_clean_button %}
{% from 'macros/macros_tabla.html' import heading_row, shopping_row, buttons_paginate %}
{% from 'macros/macros_modals.html' import set_modals_shoppings %}
{% from 'macros/macros_otros.html' import button_go_vaccine, notifications %}

{% block title %}Vacunas{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {{notifications()}}


   <div class="">
      <div class="container text-center">
        <br>
      <h1 class="display-4">Compras de Vacuna: <b>({{vacuna}}) </b></h1>
      <p>{{message}}</p>
   </div>
        <div class="container">
            <div class="mb-4">
                <form action="{{ url_for('shoppings.shopping_index') }}" method="GET">
                    <div class="form-group row">
                        {% set enfermedad_id = request.args.get('enfermedad_id', '2') %}
                        <label for="stateSelect" class="col-sm-2 col-form-label">Buscar Compras Por:</label> 
                        <div class="col-sm-3">
                            <select class="form-select bg-white" id="stateSelect" name="enfermedad_id">
                              {% for enfermedad in enfermedades %}
                                <option value='{{enfermedad.id }}'selected> {{ enfermedad.nombre}}
                               {% endfor %}
                            </select>
                        </div>
                        {{ summit_clean_button('shoppings.shopping_index') }} 
                    </div>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-dark">
                    <thead>
                    {{ heading_row(['Vacuna Desarrollada', 'Laboratorio Desarrollador', 'Lote' , 'Cantidad Dosis ','Opciones']) }}
                    </thead>
                    <tbody class="table table-light">
                        {{ shopping_row(shoppings) }} 

                    </tbody>
                </table>
            </div>
            <h1>
               
            <div class="botones botones-center">
                {{ button_go_vaccine() }}
                {% if tot == None %}
                Stock NACIONAL: 0
                {%else %}
                Stock NACIONAL: {{ tot }}
                {%endif %}
              
                {% if user_has_permission (session,"shopping_new") %}
                <a class="btn btn-success" id="addShopping" name="add_shopping" href="{{ url_for('shoppings.shopping_new') }}"
                       data-toggle="tooltip" data-placement="top" title="Añadir nueva compra"> 
                        + Registrar Compra</a>
                {% endif %}

                {% if vencidas != 0%}
                <br>
                    <H4>Dosis Vencidas = {{vencidas}}  </H4>
                {% endif %}
                                                                                     
            </div>
        </h1> 
            {{ set_modals_shoppings(shoppings) }}
            
            <br>
        </div>
    </div>

{% endblock %}






