{% macro heading_row(headings) %}
    <tr>
        {% for header in headings %}
            <th scope="col">{{ header }}</th>
        {% endfor %}
    </tr>
{% endmacro %}

{% macro button_details(id) %}
    <button type="button" class="btn btn-details crud-buttoms" data-toggle="modal"
            data-target="#viewModal{{ id }}" data-toggle="tooltip" data-placement="top"
            title="Detalles">
        <i class="fas fa-info" style="color: #0277bd"></i></button>
{% endmacro %}

{% macro button_edit(url) %}
    <a class="btn btn-edit crud-buttoms"
       href="{{ url }}"
       data-toggle="tooltip" data-placement="top" title="Editar"> <i class="fas fa-edit" style="color: #ff6f00"></i>
    </a>
{% endmacro %}

{% macro button_activate_deactivate(id, estado) %}
    {% if estado == 1 %}
        <button type="button" class="btn btn-off crud-buttoms" data-toggle="modal"
                data-target="#activateModal{{ id }}" data-toggle="tooltip" data-placement="top"
                title="Desactivar">
    {% else %}
        <button type="button" class="btn btn-on crud-buttoms" data-toggle="modal"
                data-target="#activateModal{{ id }}" data-toggle="tooltip" data-placement="top"
                title="Activar">
    {% endif %}
<i class="fas fa-power-off"></i>
</button>
{% endmacro %}

{% macro button_delete(id) %}
    <button type="button" class="btn btn-delete crud-buttoms" data-toggle="modal"
            data-target="#deleteModal{{ id }}" data-toggle="tooltip" data-placement="top"
            title="Eliminar"><i class="fas fa-trash-alt" style="color: #f44336"></i></button>
{% endmacro %}



{% macro user_row(users) %}
    {% for user in users %}
    {% if user.baja != 1 %} 
        <tr>
            <td class="col-2">{{ user.nombre }}</td>
            <td class="col-2">{{ user.apellido }}</td>
            <td class="col-3">{{ user.usrname }}</td>
            <td class="col-3">{{ user.email }}</td>
            <td class="col-2">
                {{ button_details(user.id) }}
                {{ button_edit(url_for('users.user_edit', user_id=user.id)) }}
                {{ button_delete(user.id) }} 
            </td>
         </tr>
    {% endif %}
    {% endfor %}
{% endmacro %}


{% macro vaccine_row(vaccines) %}
    {% for vaccine in vaccines %}
        
        <tr>
            <td class="col-2">{{ vaccine.nombre_comercial }}</td>
            <td class="col-2">{{ vaccine.enfermedad }}</td>
            <td class="col-2">{{ vaccine.tipo }}</td>
        

            <td class="col-2">
                {{ button_details(vaccine.id) }}
                {{ button_edit(url_for('vaccines.vaccine_edit', vaccine_id=vaccine.id)) }}
                {{ button_delete(vaccine.id) }} 
                <!--COMPRAS-SHOPPINGS-->
                {% if user_has_permission(session, 'shopping_new') %}
                <a class="btn btn-primary" id="indexShopping" name="index_shopping" href="{{ url_for('shoppings.shopping_index', vaccine_id=vaccine.id) }}"> 
                    <img class="img-fluid" src="{{ url_for('static', filename='carro.png') }}" alt="logo" width="27" height="20" title="Compras"> </a> 
                {% endif %} 
            
                <a class="btn btn-info" type="button" id="indexShopping" name="index_shopping" href="{{ url_for('shoppings.shopping_index', vaccine_id=vaccine.id) }}"> 
                 Stock </a>  

            </td>
        </tr>

    {% endfor %}
{% endmacro %}


{% macro shopping_row(shoppings) %}
    {% for shopping in shoppings %}
        
        <tr>
            <td class="col-2">{{ shopping.vacuna.nombre_comercial }}</td>
            <td class="col-2">{{ shopping.desarrollador.nombre_desarrollador }}</td>  <!--con eso asiento que se puede comprar de cualquier laboratorio esa vacuna-->
            <td class="col-2">{{ shopping.lote.nombre_lote }}</td>  <!--con esto asiento que se usa el mismo lote para todas las compras-->           
            <td class="col-2">{{ shopping.cantidad_vacunas}}</td>
          
            <td class="col-2">
                <!--aqui van los botones de detalle y/o editar: para cambiar el estado de una compra-->
                {{ button_details(shopping.id) }}
                {{ button_edit(url_for('shoppings.shopping_edit', shopping_id=shopping.id)) }}

            </td>
        </tr>

    {% endfor %}
{% endmacro %}