{% macro set_modals_users(users) %}
    {% for user in users %}
        {{ view_modal_user(user) }}
        {{ delete_modal_user(user) }}
    {% endfor %}
{% endmacro %}

{% macro view_modal_user(user) %}
    <!-- View Modal-->
    <div class="modal fade text-black" id="viewModal{{ user.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalle Usuario</h5>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
              </tr>
              <tr>
                <th>Apellido</th>
                <td>{{ user.apellido }}</td>
              </tr>
              <tr>
                <th>Nombre de usuario</th>
                <td>{{ user.usrname }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <th>Contraseña</th>
                <td>{{ user.password }}</td>
              </tr>
              <tr>
                <th>Estado</th>
                <td>{% if user.activo == 1 %} Activo {% else %} Inactivo {% endif %}</td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}

{% macro delete_modal_user(user) %}
    <!-- Delete Modal--> 
    <div class="modal fade text-black" id="deleteModal{{ user.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Usuario</h5>
          </div>
          <div class="modal-body">
            <p>Esta seguro de eliminar el usuario <b>{{ user.nombre }} {{ user.apellido }}</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="{{ url_for('users.user_delete', user_id=user.id) }}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}


{% macro set_modals_vaccines(vaccines) %}
    {% for vaccine in vaccines %}
        {{ view_modal_vaccine(vaccine) }}
        {{ delete_modal_vaccine(vaccine) }}
    {% endfor %}
{% endmacro %}


{% macro view_modal_vaccine(vaccine) %}
    <!-- View Modal-->
    <div class="modal fade text-black" id="viewModal{{ vaccine.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalles de Vacuna Desarrollada</h5>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>Nombre Comercial</th>
                <td>{{ vaccine.nombre_comercial }}</td>
              </tr>
              <tr>
                <th>Nombre Registro</th>
                <td>{{ vaccine.nombre_registro }}</td>
              </tr>
              <tr>
                <th>Laboratorio Desarrollador</th>
                <td>{{ vaccine.desarrollador.nombre_desarrollador }}</td>
              </tr>
              <tr>
                <th>Vacuna (para)</th>
                <td>{{ vaccine.enfermedad.nombre }}</td>
              <tr> 
                <th>Tipo Vacuna</th>
                <td>{{ vaccine.tipo }}</td>
              </tr>
              </tr>
              {% if vaccine.enfermedad.fecha_inicio != None %}
              <tr>
                <th>Vacunacion Desde </th>
                <td>{{ vaccine.enfermedad.fecha_inicio }}</td>
              </tr>
              <tr>
                <th>Vacunacion Hasta </th>
                <td>{{ vaccine.enfermedad.fecha_fin }}</td>
              </tr> 
              
              {% endif %}

            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}


{% macro delete_modal_vaccine(vaccine) %}
    <!-- Delete Modal--> 
    <div class="modal fade text-black" id="deleteModal{{ vaccine.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Vacuna</h5>
          </div>
          <div class="modal-body">
            <p>Esta seguro de eliminar la vacuna <b>{{ vaccine.nombre }}</b></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a href="{{ url_for('vaccines.vaccine_delete', vaccine_id=vaccine.id) }}" class="btn btn-danger">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}



<!--Compras de vacunas-->

{% macro set_modals_shoppings(shoppings) %}
    {% for shopping in shoppings %}
        {{ view_modal_shopping(shopping) }}
        {{ cambiar_estado_shopping(shopping) }}
 
    {% endfor %}
{% endmacro %}


{% macro view_modal_shopping(shopping) %}
    <!-- View Modal-->
    <div class="modal fade text-black" id="viewModal{{ shopping.id }}" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Detalles de Compra</h5>
          </div>
          <div class="modal-body">
            <table class="table">
              <tr>
                <th>Vacuna Desarrollada</th>
                <td>{{ shopping.vacuna.nombre_comercial }}</td>
              </tr>
              <tr>
                <th>Vacuna para </th>
                <td>{{ shopping.enfermedad.nombre }}</td> 
              </tr>
              <tr>
                <th>Laboratorio Desarrollador</th>
                <td>{{ shopping.desarrollador.nombre_desarrollador }}</td> 
              </tr>
              <tr>
                <th>Cantidad Dosis</th>
                <td>{{ shopping.cantidad_vacunas }}</td>  
              </tr>
                <tr>
                  <th>Lote</th>
                  <td>{{ shopping.lote.nombre_lote }}</td> 
                </tr>
                <tr>
                  <th>Fecha vcto Lote</th>
                  <td>{{ shopping.lote.fecha_vencimiento }}</td> <!--el lote no es de la vacuna, es de la compra!!!.-->
                </tr>
                <tr>
                  <th>Fecha de compra</th>
                  <td>{{ shopping.fecha_compra }}</td> 
                </tr>
                <tr>
                  <th>Estado Compra</th>
                  <td> {{ shopping.estado.nombre }} </td> 
                </tr>
                <tr>
                  <th>Caracteristicas</th>
                  <td>{{ shopping.vacuna.caracteristicas }}</td> 
                </tr>

            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endmacro %}






{% macro cambiar_estado_shopping(shopping) %}
    <!-- Activation Modal-->
    <div class="modal fade text-black" id="activateModal{{ shopping.id }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                            Estado actual:  {{shopping.estado.nombre }}
                        
                    </h5>
                </div>
                <div class="modal-body">
                    <p>Está seguro de que desea pasar el Estado de la Compra a:
                        
                      {% if shopping.estado.id == 1%} 
                         <b>Pagado </b>?</p>
                      {%endif %}

                      {%if shopping.estado.id == 2%} 
                         <b>Entregado </b>?</p>
                      
                      {% endif%}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="post" action="{{ url_for('shoppings.shopping_state') }}">
                        <input type="hidden" id="shopping_id" name="shopping_id" value="{{ shopping.id }}">
                        {% if shopping.estado.id == 1 %}
                            <button type="submit" class="btn btn-info">Pagar </button>
                        {% elif shopping.estado.id == 2 %}
                            <button type="submit" class="btn btn-primary">Entregar</button>
                       
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endmacro%}
