{% macro input_name() %}
{% set busqueda = request.args.get('search', '') %}
<label for="nameSearcher" class="col-sm-2 col-form-label">Buscar por Nombre:</label>
<div class="col-sm-4">
    {% if busqueda != '' %}
    <input class="form-control" id="nameSearcher" name="search" value="{{ busqueda }}"
        placeholder="Buscar por nombre" />
    {% else %}
    <input class="form-control" id="nameSearcher" name="search" placeholder="Buscar por Nombre" />
    {% endif %}
</div>
{% endmacro %}

{% macro input_name_vaccine() %}
{% set busqueda = request.args.get('search', '') %}
<label for="nameSearcher" class="col-sm-2 col-form-label">Buscar por Vacuna:</label>
<div class="col-sm-4">
    {% if busqueda != '' %}
    <input class="form-control" id="nameSearcher" name="search" value="{{ busqueda }}"
        placeholder="Buscar por Vacuna" />
    {% else %}
    <input class="form-control" id="nameSearcher" name="search" placeholder="Buscar por Vacuna" />
    {% endif %}
</div>
{% endmacro %}



{% macro select_type() %} 
{% set type_id = request.args.get('type_id', '2') %}
<label for="stateSelect" class="col-sm-2 col-form-label">Tipo Vacuna:</label>
<div class="col-sm-3">
    <select class="form-select bg-white" id="stateSelect" name="type_id">
        {% if type_id == "1" %}
        <option value='2'>De Calendario</option>
        <option value='1' selected>Pandemia</option>
        <option value='3'>Para Patologías Estacionales</option>

        {% elif type_id == "2" %}
            <option value='2' selected>De Calendario </option>
            <option value='1'>Pandemia</option>
            <option value='3'>Para Patologías Estacionales</option>

        {% elif type_id == "3" %}
            <option value='2'>De Calendario </option>
            <option value='1'>Pandemia</option>
            <option value='3' selected>Para Patologías Estacionales</option>
        
            {% endif %}
  
     
    </select>
</div>
{% endmacro %}

{% macro summit_clean_button(url) %}

<div class="btn-group col-sm-1" role="group" aria-label="Basic example">
    <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="top" title="Buscar">
        <i class="fas fa-search"></i>
    </button>
    <a class="btn btn-secondary" href="{{ url_for(url) }}" data-toggle="tooltip" data-placement="top" title="Limpiar">
        <i class="fa fa-undo"></i>
    </a>
</div>
{% endmacro %}