{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class=" text-center">

        <div class="container" id="divLogo">
            <img class="img-fluid" src="{{ url_for('static', filename='logo.png') }}" alt="logo" width="175"
                 height="145">
            <p class="lead"></p>
        </div>
        <div class="container">

            
            {% if user_has_permission(session,"user_index") %}
                <a class="dropdown-item home-text" href="{{ url_for('users.user_index') }}">Gestionar Usuarios</a></li>
                
            {% endif %}

            {% if user_has_permission (session,"vaccine_index")%}            
                <a class="dropdown-item home-text" href="{{ url_for('vaccines.vaccine_index') }}">Vacunas Desarrolladas</a></li>
            {% endif %}

            {% if user_has_permission (session,"shopping_new")%}            
            <a class="dropdown-item home-text" href="{{ url_for('shoppings.shopping_index') }}">Compras Realizadas</a></li>
            {% endif %}
            
            {% if user_has_permission (session,"distributtion_index")%}             
            <a class="dropdown-item home-text" href="{{ url_for('distributtiones.distributtion_index') }}">Distribuciones Vacunas</a></li>
            {% endif %}
            {% if user_has_permission (session,"vacunattion_index")%}             
            <a class="dropdown-item home-text" href="{{ url_for('vacunattiones.vacunattion_index') }}">Vacunaciones</a></li>
            {% endif %} 

            

            {% if user_has_permission (session,"patology_index")%}             
            <a class="dropdown-item home-text" href="/patologias/patologias_index">Patologias</a></li>
            {% endif %}
            {% if user_has_permission (session,"vacunattion_new") %} 
            <a  class="dropdown-item home-text" href="{{ url_for('vacunattiones.vacunattion_new') }}">Registrar Vacunacion</a>
            
            <!--aqui va el proceso de transformacion de Datos dese la base transaccional a la db del datawarhouse -->

            <a  class="dropdown-item home-text" href="{{ url_for('vacunattiones.vacunattion_etl') }}">ETL</a>
            
             (Extraccion, transformacion y carga)
            
            {% endif %}
            
          

        </div>

    </div>
{% endblock %}

<!--etiqueta body: color green en stylos-->
<!--extender layout para cualquier vista. Luego colocar lo que uno desee mostrar dentro del block content-->

 
