<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
 
  <!--enlace a hoja de estilos-->
  <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">

  <!-- Font-Awesome -->
  {{ fontawesome_html() }}

</head>

<body>

  <!--SECTION NAVAR-->
  <nav class="navbar navbar-expand-lg navbar">
    <!--LOGO DEL SISTEMA-->
    <a id="navBar-item" class="navbar-brand" href="/" data-toggle="tooltip" data-placement="bottom" title="Logo">
      <img class="img-fluid" src="{{ url_for('static', filename='logo1.png') }}" alt="logo" width="35" height="29">
    </a>
    <!--USUARIO LOGUEADO-->
    {% if is_authenticated(session) %}
    {% if user_has_permission (session,"user_index") %}
    <a  class="nav-link nav-opcion d-none d-md-block text-white" href="{{ url_for('users.user_index') }}">Usuarios</a>
    {% endif %}
    {% if user_has_permission (session,"vaccine_index") %}
    <a  class="nav-link nav-opcion d-none d-md-block text-white" href="{{ url_for('vaccines.vaccine_index') }}">Vacunas Desarrolladas</a>
    {% endif %}
    {% if user_has_permission (session,"shopping_new") %}
    <a  class="nav-link nav-opcion d-none d-md-block text-white" href="{{ url_for('shoppings.shopping_index') }}">Compras Realizadas</a>
    {% endif %}
    {% if user_has_permission (session,"distributtion_index") %} 
    <a  class="nav-link nav-opcion d-none d-md-block text-white" href="{{ url_for('distributtiones.distributtion_index') }}">Distribuciones</a>
    {% endif %}
    {% if user_has_permission (session,"vacunattion_index") %} 
    <a  class="nav-link nav-opcion d-none d-md-block text-white" href="{{ url_for('vacunattiones.vacunattion_index') }}">Vacunaciones</a>
    {% endif %}

    <button class="navbar-toggler d-md-none" type="button" data-toggle="collapse" data-target="#navbarTogglerSmallMenu"
      aria-controls="navbarTogglerSmallMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--MENU EN PANTALLAS PEQUEÑAS-->
    <div class="collapse navbar-collapse" id="navbarTogglerSmallMenu">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-md-none">
        <li class="nav-item">
          <span>{{ session.get("user")["information"].first_name + ' '
            +session.get("user")["information"].last_name}}</span>
          <img class="img-fluid" src="{{ url_for('static', filename='perfil.png') }}" alt="logo" width="35" height="29">
        </li>
        <li class="nav-item">
          <a class="dropdown-item mobile-item" href="{{ url_for('users.user_profile', user_id = session.get('user')['information'].id) }}">Perfil</a>
        </li>
        {% if user_has_permission (session,"user_index")%}
        <li class="nav-item">
          <a class="dropdown-item mobile-item" href="{{ url_for('users.user_index') }}">Usuarios</a>
        </li>
        {% endif %}
        {% if user_has_permission (session,"vaccine_index")%}
        <li class="nav-item">
          <a class="dropdown-item mobile-item" href="{{ url_for('vaccines.vaccine_index') }}">Vacunas Desarrolladas</a>
        </li>
        {% endif %}
        {% if user_has_permission (session,"patology_index")%} 
        <li class="nav-item">
          <a class="dropdown-item mobile-item" href="/patologias/patologias_index">Patologias</a>
        </li>
        {% endif %}   
        <li class="nav-item">
          <a class="dropdown-item mobile-item" href="{{ url_for('auth.logout') }}">Cerrar sesion</a>
        </li>
      </ul>
    </div>
    <!--MENU EN PANTALLAS GRANDES-->
    <ul class="navbar-nav ml-auto d-none d-md-block">
      <li class="nav-item dropdown" style="margin-right: 3em;">
        <a class="nav-link dropdown-toggle pe-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span class="text-white">{{ session.get("user")["information"].first_name + ' ' +
            session.get("user")["information"].last_name}}</span> <img class="img-fluid"
            src="{{ url_for('static', filename='perfil.png') }}" alt="logo" width="35" height="29">
        </a>
        <ul class="dropdown-menu pe-2" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{{ url_for('users.user_profile', user_id = session.get('user')['information'].id) }}">Perfil</a></li>
          {% if user_has_permission (session,"user_index")%}
          <li><a class="dropdown-item" href="{{ url_for('users.user_index') }}">Usuarios</a></li>
          {% endif %}
          {% if user_has_permission (session,"patology_index")%} 
          <li class="nav-item">
            <a class="dropdown-item mobile-item" href="/patologias/patologias_index">Patologias</a>
          </li>
          {% endif %} 
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Cerrar sesion</a></li>
        </ul>
      </li>
    </ul>
    {% endif %}
  </nav>
  <!--FIN SECTION NAVAR-->

  {% block content %}

  {% endblock%}

  <!--SECTION FOOTER -->
  <footer id="footer" class="footer-copyright text-center py-3">
    <span> &copy; Taller de Tecnologias. Grupo 6 - 2022</span>
  </footer>

</body>

</html>